<div class="group-details" data-selected-group-target="group">
  <h2 class="group-title text-center mb-4"><%= @group.name %></h2>
  <div class= "banniere-photo">
  <% if !@random_photo[@group.id].nil? && @random_photo[@group.id] != {} %>
  <%= cl_image_tag @random_photo[@group.id].photo.key %>
  <% end %>
  </div>
  <div class="group-members">
    <h5>Membres du groupe</h5>
    <div class="participants-grid pt-4">
      <% @group.users.each do |user| %>
        <div class="card-g" data-action="click->selected-group#flipCard">
          <div class="card-g-inner">
            <div class="card-g-face card-g-front">
              <%= cl_image_tag user.avatar.key, class: "avatar-group" %>
            </div>
            <div class="card-g-face card-g-back">
              <span><%= user.first_name %> <%= user.last_name %></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
