 <div class="container" data-controller="selected-group">
  <div class="text-center mb-4 mt-4">
    <h3>MES GROUPES</h3>
  </div>

  <div class="groups-container">
    <div class="group-list">
      <% @groups.each do |group| %>
        <div class="cards-info form-group mb-6">
          <button class="cards-info-group custom-btn" data-action="click->selected-group#update" data-selected-group-group-id-value="<%= group.id %>"><%= group.name %></button>
        </div>
    <% end %>
    </div>
          <%= link_to "+", new_group_path, class: "circle-blue-btn mt-4" %>
  </div>

    <%= render "groups/group" %>
          <%= link_to "+", new_group_path, class: "circle-blue-btn mt-4" %>
  </div>
