<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "bobbi.png" %>
    <% end %>

 <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">

            <% if current_user.avatar.attached? %>
            <img class="avatar-nav" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            src="<%= cl_image_path(current_user.avatar.key, transformation: [
                                                                              {gravity: "face", height: 200, width: 200, crop: "fill" },
                                                                              {radius: "max"}]) %>"
              alt="Photo de profil" />
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

            <% else %>

            <img class="avatar-nav" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="app/assets/images/default_image.jpg" alt="Photo de profil" />
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

            <% end %>

              <%= link_to "Mes Évènements", events_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item"%>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log In", new_user_session_path, class: "btn-nav" %>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "btn-nav" %>
          </li>
        <% end %>
      </ul>
      </div>
    </div>
  </div>
