<div class="container py-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card mb-4 cards">
        <div class="text-center mb-2 mt-4">
          <h3>JE CRÉE MON ÉVÈNEMENT !</h3>
        </div>

        <div class="card-body">
          <%= simple_form_for @event, html: { multipart: true } do |f| %>
            <div class="form-group mb-4">
              <%= f.input :name, label: "Nom de ton évènement", input_html: { class: "form-control", placeholder: "Ex: Soirée Barbecue à la maison" } %>
            </div>

            <div class="form-group mb-4">
              <%= f.input :description, label: "Description", input_html: { class: "form-control", placeholder: "Ex: Tous en blanc !" } %>
            </div>

            <div class="form-group mb-4">
              <%= f.input :date, as: :string, label: "Date de la soirée", input_html: { class: "form-control", placeholder: "24/06/2025", data: { controller: "datepicker" } } %>
            </div>

            <div class="form-group mb-4">
              <%= f.input :time, as: :time, label: "Heure", input_html: { class: "form-control", placeholder: "Ex: 20h" } %>
            </div>

            <div class="form-group mb-4">
              <%= f.input :address, label: "Adresse", input_html: { class: "form-control", placeholder: "Ex: 21 rue Haxo, 13001 Marseille" } %>
            </div>

            <%= f.label :category_ids, "Je choisis les rôles que je veux durant mon évènement:" %>
            <div class="form-group mb-4">
              <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
                <div class="tag-container">
                  <%= b.check_box class: "form-check-input tag-input" %>
                  <%= b.label class: "form-check-label tag-label" %>
                </div>
              <% end %>
            </div>

            <div class="form-group mb-4">
              <%= f.input :theme, label: "Thème (opt.)", input_html: { class: "form-control", placeholder: "Ex: Soirée Blanche" } %>
            </div>

          <%= f.label :group_ids, "Je choisis les groupes que je veux inviter:" %>
          <div class="form-group mb-4">
          <%= f.collection_select :group_ids, Group.all, :id, :name, {}, { multiple: true, class: "form-control" } %>
            </div>

            <div class="form-group mb-4">
              <%= f.input :photo, as: :file, label: "Photo (opt.)", input_html: { class: "form-control"} %>
            </div>

            <div class="form-actions text-center">
              <%= f.button :submit, "Créer", class: "square-btn" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
