<div class="container py-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card mb-4 cards">
        <div class="text-center mb-2 mt-4">
          <h3>JE CRÉE MON ÉVÈNEMENT !</h3>
        </div>

        <div class="card-body">
          <%= form_with(model: @event, html: { multipart: true }) do |form| %>
            <div class="form-group mb-4">
              <%= form.label :name, "Nom de ton évènement" %>
              <%= form.text_field :name, class: "form-control", placeholder: "Ex: Soirée Barbecue à la maison" %>
            </div>

            <div class="form-group mb-4">
              <%= form.label :description, "Description" %>
              <%= form.text_field :description, class: "form-control", placeholder: "Ex: Tous en blanc !" %>
            </div>

            <div class="form-group mb-4">
              <%= form.label :date, "Date de la soirée" %>
              <%= form.date_field :date, class: "form-control", placeholder: "24/06/2025"%>
            </div>

            <div class="form-group mb-4">
              <%= form.label :time, "Heure" %>
              <%= form.time_field :time, class: "form-control", placeholder: "Ex: 20h" %>
            </div>

            <div class="form-group mb-4">
              <%= form.label :address, "Adresse" %>
              <%= form.text_field :address, class: "form-control", placeholder: "Ex: 21 rue Haxo, 13001 Marseille" %>
            </div>

              <%= form.label :category, "Je choisis les rôles que je veux durant mon évènement:" %>
              <%= form.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
                <div class="tag-container">
                  <%= b.check_box class: "form-check-input tag-input", id: "category_#{b.value}" %>
                  <%= b.label class: "form-check-label tag-label", for: "category_#{b.value}" %>
                </div>
              <% end %>

            <div class="form-group mb-4">
              <%= form.label :theme, "Thème (opt.)" %>
              <%= form.text_field :theme, class: "form-control", placeholder: "Ex: Soirée Blanche" %>
            </div>

            <%= form.label :group, "Je choisis les groupes que je veux inviter:" %>
            <%= form.collection_check_boxes :group_ids, Group.all, :id, :name do |b| %>
              <div class="collection-check-box">
                <%= b.check_box class: "form-check-input" %>
                <%= b.label class: "form-check-label" %>
              </div>
            <% end %>

            <div class="form-group mb-4">
              <%= form.label :photo, "Photo (opt.)" %>
              <%= form.file_field :photo, class: "form-control", placeholder: "Choisissez une photo pour votre évènement" %>
            </div>

            <div class="form-actions text-center">
              <%= form.submit "Créer", class: "square-btn" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
