<div class="container-récap mt-1">
  <%= link_to event_path(@event), class: "back-button" do %>
    <p><i class="fa-solid fa-chevron-left p-2"></i>Dashboard</p>
  <% end %>
  
  <div class="row grey-container" style="background-color: #F5F5F5; border-radius: 28px; margin: 0 10px; padding: 15px 15px">
    <h2 class="text-center">Récapitulatif <%= @event.name %></h2>
    <div class="col-md-6 mb-4">
      <div class="recap-infos recap-bubble h-100">
        <p class="text-center">Date & Heure</p>
        <div>
          <strong><i class="fa-solid fa-calendar-days" style="color: #A2D7E5;"></i> Date :</strong> <span><%= @event.date %></span>
        </div>
        <div>
          <strong><i class="fa-regular fa-clock" style="color: #A2D7E5;"></i> Heure :</strong> <span><%= @event.time.strftime("%Hh%m") %></span>
        </div>
        <div>
          <strong><i class="fa-solid fa-location-dot" style="color: #A2D7E5;"></i> Adresse :</strong> <span><%= @event.address %></span>
        </div>
        <div>
          <strong><i class="fa-regular fa-user" style="color: #A2D7E5;"></i> Participants :</strong> <span><%= @event.users.count %></span>
        </div>
        <div>
          <strong><i class="fa-solid fa-champagne-glasses" style="color: #A2D7E5;"></i> Thème :</strong> <span><%= @event.theme %></span>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <div class="recap-participants recap-bubble">
        <p class="text-center">Participants</p>
          <div class="participants-grille">
            <% @participants.each do |participant| %>
              <div class="participant">
                <%= participant.first_name %>
              </div>
            <% end %>
          </div>
      </div>
    </div>



    <div class="col-md-6 mb-3">
      <div class="recap-map recap-bubble" style="height: 70vmin;">
        <div style="width: 100%; height: 100%; border-radius: 28px;"
             data-controller="map"
             data-map-markers-value="<%= @markers.to_json %>"
             data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
    <div class="your-container-class">
      <%= link_to event_path(Event.find(params[:id])) do %>
        <i class="fa-solid fa-chevron-left"></i>
      <% end %>
    </div>
</div>
