<div class="dashboard-container mt-4">
  <h1 class="text-center mb-4"><%= @event.name %></h1>

  <% if @event.photo.attached? %>
    <%= cl_image_tag @event.photo.key, class: 'img-fluid mb-4' %>
  <% end %>

  <div class="dashboard-card mb-4">
    <div class="dashboard-card-body">
      <%= link_to recap_event_path, class: "card-link" do %>
        <h5 class="dashboard-card-title text-center">Informations principales</h5>
        <div class="text-center mb-3"><%= @event.description %></div>
        <ul class="list-unstyled">
          <li class="d-flex justify-content-between align-items-center mb-2">
            <div class="d-flex align-items-center">
              <i class="fa-solid fa-calendar-days me-2"></i>
              <div><%= @event.date %></div>
            </div>
            <div class="d-flex align-items-center">
              <i class="fa-solid fa-clock me-2"></i>
              <div><%= @event.time.strftime("%Hh%m") %></div>
            </div>
          </li>
          <li class="d-flex align-items-center mb-2">
            <i class="fa-solid fa-location-dot me-2"></i>
            <div><%= @event.address %></div>
          </li>
          <li class="d-flex align-items-center mb-2">
            <i class="fa-solid fa-champagne-glasses"></i>
            <div>Thème: <%= @event.theme %></div>
          </li>
        </ul>
      <% end %>
    </div>
  </div>

  <div class="dashboard-card mb-4">
    <div class="dashboard-card-body">
      <h5 class="dashboard-card-title text-center">Mon rôle</h5>
      <%= @current_user_category.category.name %>
      <% if @current_user_category.category == Category.where(name: "Participant").first %>
        <% if @event_categories.where(user_id: nil).any? %>
          <p>Vous êtes pour l'instant un simple participant. Vous pouvez choisir un des rôles ci-dessous si vous le souhaitez.</p>
          <div class="d-flex justify-content-center">
            <%= form_with url: event_event_categories_path(@event) do |f| %>
              <%= f.collection_select :category_id, @categories.uniq, :id, :name, prompt: "Choisissez un rôle" %>
              <%= f.submit "Choisir", class: "dynamic-text-btn" %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div id="poll-anchor" class="dashboard-card mb-4">
    <div class="dashboard-card-body">
      <h3 class="dashboard-card-title text-center">Voir les sondages de l'événement</h3>
      <h4 class="mb-2"><%= @poll.question %></h4>
      <%= form_with url: event_poll_votes_path(@event, @poll), method: :post, local: true, data: { controller: "vote", vote_target: "form" } do |form| %>
        <% @poll.options.each do |option| %>
          <div class="checkbox-wrapper-61 mb-2">
            <%= form.check_box :option_id, { class: 'custom-checkbox', checked: @voted_options[option.id], id: "check1-#{option.id}", multiple: false, data: { action: "change->vote#submitForm", option_id: option.id } }, option.id, nil %>
            <%= label_tag "check1-#{option.id}", class: "label" do %>
              <span><%= option.title %></span>
            <% end %>
            <span class="ml-2">(<%= option.votes.count %>)</span>
            <% option.votes.each do |vote| %>
              <% user = vote.event_user.user %>
              <%= cl_image_tag user.avatar.key, class: "avatar-poll ml-1" %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <%= link_to "Voir tous les sondages", event_polls_path(@event), class: "show-square-btn" %>
    </div>
  </div>

  <div class="dashboard-card mb-4">
    <div class="dashboard-card-body">
      <h5 class="dashboard-card-title text-center">Liste de courses</h5>
      <ul class="list-unstyled">
        <% @event.ingredients.each do |ingredient| %>
          <li class="d-flex justify-content-between">
            <div><%= ingredient.name %></div>
            <div>
              <% if ingredient.category == 'boisson' %>
                Boisson
              <% else %>
                Nourriture
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
      <%= link_to "Voir la liste", event_ingredients_path(Event.find(params[:id])), class: "dynamic-text-btn" %>
      <%= link_to "Ajout à la liste", new_event_ingredient_path(Event.find(params[:id])), class: "dynamic-text-btn" %>
    </div>
  </div>

  <div class="dashboard-card mb-4">
    <div class="dashboard-card-body">
      <h5 class="dashboard-card-title text-center pb-2">Photos de l'évènement</h5>
      <div class="dashboard-photos ">
        <% if @event.photos.any? %>
          <div class="show-photo">
            <%= cl_image_tag @event.photos.last.photo.key %>
          </div>
        <% else %>
          <p>Il n'y a pas encore de photos pour cet événement.</p>
        <% end %>
        <div class="your-container-class">
          <%= link_to event_photos_path(Event.find(params[:id])) do %>
            <i class="fa-solid fa-arrow-right-long"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <h5 class="text-center justify-content-center">Souhaitez-vous participer à l'évènement ?</h5>
  <div class="centered-button-container">
    <%= form_with model: @event_user, url: refuse_participation_event_user_path(@event_user), method: :patch, local: true do |form| %>
      <% if @event_user.coming %>
        <%= form.submit 'Je ne veux plus participer', class: "dynamic-text-btn-pala", data: { confirm: 'Êtes-vous sûr de ne plus vouloir participer à cet événement ?' } %>
      <% else %>
        <%= form.submit 'Finalement je participe', class: "dynamic-text-btn-la", data: { confirm: 'Êtes-vous sûr de vouloir participer à cet événement ?' } %>
      <% end %>
    <% end %>
  </div>
</div>
