<div class="dashboard-container mt-4">
  <h1 class="text-center mb-4"><%= @event.name %></h1>

  <div class="dashboard-card mb-4">
   <div class="dashboard-card-body">
  <%= link_to recap_event_path, class: "card-link" do %>
    <h5 class="dashboard-card-title text-center">Informations principales</h5>
    <div class="text-center mb-3"><%= @event.description %></div>
    <ul class="list-unstyled">
      <li class="d-flex justify-content-between align-items-center mb-2">
        <div class="d-flex align-items-center">
          <i class="fa-solid fa-calendar-days me-2"></i>
          <div><%= @event.date %></div>
        </div>
        <div class="d-flex align-items-center">
          <i class="fa-solid fa-clock me-2"></i>
          <div><%= @event.time.strftime("%Hh%m") %></div>
        </div>
      </li>
      <li class="d-flex align-items-center mb-2">
        <i class="fa-solid fa-location-dot me-2"></i>
        <div><%= @event.address %></div>
      </li>
      <li class="d-flex align-items-center mb-2">
        <div>Thème: <%= @event.theme %></div>
      </li>
    </ul>
  <% end %>
</div>
</div>

  <div class="dashboard-card mb-4">
    <div class="dashboard-card-body">
      <h5 class="dashboard-card-title text-center">Mon rôle</h5>
        <%= @current_user_category.category.name %>
        <% if @current_user_category.category == Category.where(name: "Participant").first %>
          <%# <% raise %>
          <% if @event_categories.where(user_id: nil).any? %>
            <p>Vous êtes pour l'instant un simple participant. Vous pouvez choisir un des rôles ci-dessous si vous le souhaitez.</p>
            <div class="d-flex justify-content-center">
              <%= form_with url: event_event_categories_path(@event) do |f| %>
                <%= f.collection_select :category_id, @event_categories.where(user_id: nil), :id, :name, prompt: "Choisissez un rôle" %>
                <%= f.submit "Choisir", class: "show-square-btn" %>
              <% end %>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>

  <div class="dashboard-card mb-4">
    <div class="dashboard-card-body">
      <h5 class="dashboard-card-title text-center">Liste de courses</h5>
      <ul class="list-unstyled">

        <% @event.ingredients.each do |ingredient| %>
          <li class="d-flex justify-content-between">
            <div><%= ingredient.name %></div>
            <div>Ingredient</div>
          </li>
        <% end %>
      </ul>
      <%= link_to "Voir la liste des ingrédients", ingredients_path(Event.find(params[:id])), class: "show-square-btn" %>

    </div>
  </div>

  <div class="dashboard-card mb-4">
    <div class="dashboard-card-body">
      <h5 class="dashboard-card-title text-center">PHOTOS DE L'ÉVÈNEMENT</h5>
      <div class="dashboard-photos-grid">
        <% @event.photos.each do |photo| %>
          <div class="photo">
            <%= image_tag photo.url %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<div class="dashboard-card mb-4">
  <div class="dashboard-card-body">
    <h5 class="dashboard-card-title text-center"> Je ne participe plus à cet évènement</h5>
    <%= form_with model: @event_user, url: refuse_participation_event_user_path(@event_user), method: :patch, local: true do |form| %>
      <% if @event_user.coming %>
        <%= form.submit 'Ne participe pas', class: "square-btn", data: { confirm: 'Êtes-vous sûr de ne plus vouloir participer à cet événement ?' } %>
      <% else %>
        <%= form.submit 'Participe', class: "square-btn", data: { confirm: 'Êtes-vous sûr de vouloir participer à cet événement ?' } %>
      <% end %>
    <% end %>
  </div>
</div>
