<div class="container mt-4">
  <h1 class="text-center mb-4"><%= @event.name %></h1>

<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title text-center">Informations principales</h5>
    <div class="text-center mb-3"><%= @event.description %></div>
    <ul class="list-unstyled">
      <li class="d-flex justify-content-between align-items-center mb-2">
        <div class="d-flex align-items-center">
          <i class="fa-solid fa-calendar-days me-2"></i>
          <div><%= @event.date %></div>
        </div>
        <div class="d-flex align-items-center">
          <i class="fa-solid fa-clock me-2"></i>
          <div><%= @event.time %></div>
        </div>
      </li>
      <li class="d-flex align-items-center mb-2">
        <i class="fa-solid fa-location-dot me-2"></i>
        <div><%= @event.address %></div>
      </li>
      <li class="d-flex align-items-center mb-2">
        <div>Thème: <%= @event.theme %></div>
      </li>
    </ul>
  </div>
</div>

  <!-- Rôle Card -->
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title">Mon rôle</h5>
      <% if @category %>
      <p><%= @category.name %></p>
      <% else %>
      <p>Vous n'avez pas encore de rôle pour cet événement.</p>
      <% end %>
    </div>
  </div>

<div class="card mb-4">
  <div class="card-body">
    <h5 class="card-title">Liste de courses</h5>
    <ul class="list-unstyled">
      <li class="d-flex justify-content-between">
        <div><%= @event.recipes%></div>
        <div><%= @event.ingredients%></div>
      </li>
      <li class="d-flex justify-content-between">
      </li>
    </ul>
    <%= link_to 'Ajouter une recette', list_event_path, class: 'square-btn' %>
  </div>
</div>


  <!-- Photos de l'événement Card -->
  <div class="card mb-4">
    <div class="card-body">
      <h5 class="card-title text-center">PHOTOS DE L'ÉVÈNEMENT</h5>
      <div class="photos-grid">
        <%# <%= @event.photo %>
      </div>
    </div>
  </div>
</div>
